@{
    ViewData["Title"] = "AboutMe";
}

    <h1 id="tomate">Hombre Tomate</h1>
    <div>
    <table width="70%" border="1" cellspacing="10" cellpadding="10" >
        <tr>
            <td rowspan="4"><img class="pequeña" src="https://i.pinimg.com/originals/d9/05/0a/d9050a9011660c9d95f9c8fb3c9d197f.jpg"></td>
         </tr>
         <tr>            
            <th>Estudios previos</th>
            <td>licenciado en Botanica</td>
        </tr>
         <tr>
            <th>Habilidades</th>
            <td>Prospera en cualquier estación</td>
         </tr>
         <tr>
            <th>Objetivos Futuros</th>
            <td>Vivir tranquilamente cuidando a otras frutas</td>
         </tr>
    </table>
    </div>


