@{
    ViewData["Title"] = "Privacy Policy";
}
<div>
<h2> Augusta Ada Byron - Ada Lovelace <br> </h2>
<p>(1815/12/10 - 1852/11/27)</p>
<h3>Escritora y matemática británica </h3>
<p><b>-Seré, a su debido tiempo, poeta-</b><p>
  <br>
<table>
  <tr>
  <li>Una de las pioneras de la computación</li>
  <li><b>Obras:</b> Ada, the Enchantress of Numbers: A Selection from the Letters of Lord Byron's...</li>
  <li><b>Área:</b>Matemáticas e informática</li>
  <li><b>Padres:</b> George Gordon Byron y Anne Isabella Milbanke </li>
  <li><b>Cónyuges:</b> William King-Noel</li>
  <li><b>Hijos:</b> Byron, Anne Isabella, Ralph Gordon</li>
  <li><b>Título:</b> Condesa de Lovelace</li>
  </tr>
</table>
<br>
<q><i>Nuestra familia es una estratificación alternativa de poesía y matemáticas</i></q>
<p>-Ada Lovelace</p>
<p><b>Ada Lovelace</b> nació el 10 de diciembre de 1815 en <b>Londres</b>, Reino Unido.</p>
<br>
<h3>Padres</h3>
<p>Hija del famoso poeta romántico 
  <a href=https://es.wikipedia.org/wiki/Lord_Byron>Lord Byron</a>y de la matemática <b>Anne Isabella Milbanke</b>. Sus padres se separaron cuando ella tenía un año.</p>
<br>
<h3>Estudios</h3>
<p>Desde muy pequeña tuvo excelentes profesores de matemáticas, astronomía, literatura y música.</p>
<p>A los catorce años quedó <b>paralítica</b> por lo que dedicó muchas horas al estudio y la lectura.</p>
<br>
<h3>Matemática</h3>
<p>Siendo una jovencita, conoció al científico inglés <a href=https://es.wikipedia.org/wiki/Charles_Babbage>Charles Babbage</a> y le causó tal impresión, que desde entonces pensó dedicarse a las <b>matemáticas</b>.<br>
<p>En 1843, era una matemática reconocida, aunque seguía firmando sus artículos con sus iniciales por temor a que por el hecho de ser escritos por una mujer fueran rechazados.</p><br>
<h3>La primera programadora de la historia</h3>
<p>Su <b>máquina analítica mecánica</b> permitía calcular cualquier función algebraica y almacenar números; el programa se introducía en la máquina mediante tarjetas.</p>
<p>Fue la <b>primera programadora de la historia.</b> A finales de los años setenta, el Departamento de Defensa desarrolló el primer lenguaje de software tal y como hoy lo conocemos, y para emularla, recordar su trabajo y darle el crédito que se merecía, lo denominaron <b>ADA</b></p>
</div>  